<link href="/css/index.css" rel="stylesheet" />
<h1>EJS</h1>

<% if(!currUser){ %>
<li class="nav-item">
  <a class="nav-link" href="/login">Login</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/signup">Sign Up</a>
</li>
<% }else{ %>

<li class="nav-item">
  <a class="nav-link" href="#">Logged in as <%= currUser.username %></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/logout">LogOut</a>
</li>
<script>
  localStorage.setItem("currUser", "<%=currUser.username%>");
</script>
<% } %>
