<form action="/api/v1/users" method="POST">
  name:<input type="text" name="username" required /> password:<input
    type="password"
    name="password"
    required
  />
  <input type="submit" value="SignUp" />
</form>
